.app {
  display: flex;
  justify-content: center;
  align-items: start;

  background-color: #eee;
}

.markup {
  width: 100%;
  max-width: 800px;

  @media (max-width: 799px) {
    min-width: 500px;
  }

  background-color: #fff;

  &__header {
    width: 100%;
    height: 50px;
    padding: 5px;

    border-bottom: 1px solid #999;
  }

  &__main {
    display: flex;

    height: 100%;
    padding-bottom: 50px;

    overflow: hidden;
  }

  &__section {
    width: 100%;
    max-width: calc(100% - 315px);
    min-height: calc(100vh - 50px - 50px);
    padding: 5px;

    transition: 250ms;

    &--fullWidth {
      max-width: 100%;
    }
  }

  &__sidebar_container {
    display: flex;
    justify-content: end;
    width: 315px;
    overflow-x: hidden;

    &--hiding {
      animation: 250ms ease-out hiding;
    }

    &--appearing {
      animation: 250ms linear reverse hiding;
    }
  }

  &__sidebar {
    width: 300px;
    height: 100%;
    padding: 5px;

    border-left: 1px #ccc solid;
    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    min-width: 500px;
    max-width: 800px;
    height: 50px;
    padding: 5px;

    border-top: 1px solid #999;
    background-color: #fff;
  }
}

@keyframes hiding {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}